<!DOCTYPE html>
<html>
<head>

<title>New Book</title>
<link rel="stylesheet" href="/stile.css?version=3"/>
</head>
<body>
  <div><a href="/"><img src="/logo-siw.png" width="50%"/></a></div>
  <h1>Aggiungi un libro</h1>
  <form th:action="@{/book}" method="POST" th:object="${book}">
 <div>
     Titolo:<span><input required type="text" th:field="${book.title}"/></span>
 </div>
 <div>
     Anno:<span><input required type="text" th:field="${book.year}"/></span>
 </div>
 <div>
     URL immagine:<span><input type="url" th:field="${book.urlImage}"/></span>
 </div>
 <div>
     <span><button type="submit">Conferma</button></span>
 </div>
 </form>
</body>
</html>