<!DOCTYPE html>
<html>
<head>
    <title>Nuovo Autore</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${userDetails}">
            <a href="/login">Login</a>
        </div>
    </header>

    <div><a href="/"><img src="/images/logo-siw.png" width="20%"/></a></div>
    <h1>Aggiungi un autore</h1>

    <div class="form-container">
        <form th:action="@{/admin/author}" method="POST" th:object="${author}" enctype="multipart/form-data">
            <div class="form-group">
                <span th:text="${messaggioErrore}" class="error-message">Errore</span>
            </div>
            
            <div class="form-group">
                <label for="name">Nome:</label>
                <input required type="text" id="name" th:field="${author.name}" />
            </div>

            <div class="form-group">
                <label for="surname">Cognome:</label>
                <input required type="text" id="surname" th:field="${author.surname}" />
            </div>

            <div class="form-group">
                <label for="dateOfBirth">Data di nascita:</label>
                <input type="date" id="dateOfBirth" th:field="${author.dateOfBirth}" />
            </div>

            <div class="form-group">
                <label for="file">Fotografia:</label>
                <input type="file" id="file" name="file" />
            </div>
            
            <div class="form-group">
                <button type="submit" class="submit-button">Conferma</button>
            </div>
        </form>
    </div>
</body>
</html>
