<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Aggiorna Libro</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
     <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${userDetails}">
            <a href="/login">Login</a>
        </div>
    </header>

    <div><a href="/"><img src="/images/logo-siw.png" width="20%" /></a></div>
    
    <h1>Aggiorna Libro</h1>

    <form th:action="@{/admin/formUpdateBook/{id}(id=${book.id})}" th:object="${book}" method="post"  class="form-container">
       <div><a href="/" class="button-exit">Annulla</a></div>
        <label for="title">Titolo:</label>
        <input type="text" id="title" name="title" th:field="*{title}" /><br />

        <label for="year">Anno:</label>
        <input type="number" id="year" name="year" th:field="*{year}" /><br />

        <label for="urlImage">URL Immagine:</label>
        <input type="text" id="urlImage" name="urlImage" th:field="*{urlImage}" /><br />

        <!-- Aggiungi Autori -->
        <label>Aggiungi Autori:</label>
        <div id="authorsContainer">
            <div class="authorEntry">
                <input type="text" name="authorNames[]" placeholder="Nome Autore" />
                <input type="text" name="authorSurnames[]" placeholder="Cognome Autore" />
            </div>
        </div>
        <button type="button" onclick="addAuthorEntry()">Aggiungi Altro Autore</button>
<br></br>
        <button type="submit">Aggiorna Libro</button>
    </form>

 

    <script>
        function addAuthorEntry() {
            var container = document.getElementById('authorsContainer');
            var newEntry = document.createElement('div');
            newEntry.className = 'authorEntry';
            newEntry.innerHTML = '<input type="text" name="authorNames[]" placeholder="Nome Autore" /> ' +
                                  '<input type="text" name="authorSurnames[]" placeholder="Cognome Autore" />';
            container.appendChild(newEntry);
        }
    </script>
    
</body>

</html>
