/* Stili generali */
body { 
    font-family: "Geneva";
    color: dimgrey;
}

a { 
    text-decoration: none; 
    color: darkgrey;
}

a:hover { 
    text-decoration: underline; 
}

label {
    width: 8em;
    display: inline-block;
}

header {
    background-color: rgb(204, 204, 0);
    color: white;
    height: 4em;
    margin-bottom: 0.5em;
    padding: 0.2em;
    text-align: right; 
}

header a { 
    text-decoration: none; 
    color: white;
    font-size: 0.6em;
}

select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

option {
    padding: 0.5em;
}

/* Stili specifici per la pagina book.html */
.book-page {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-page .logo {
    text-align: center;
    margin-bottom: 20px;
}

.book-page .logo img {
    width: 170px;
}

.book-page .book-info {
    text-align: center;
}

.book-page .book-info img {
    width: 150px;
    margin: 0 auto 20px;
    display: block;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-page .book-info .year {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.book-page .authors {
    margin-top: 20px;
}

.book-page .authors h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.book-page .authors ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.book-page .authors li {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: dimgrey;
}

/* Stili specifici per la pagina author.html */
.author-page {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.author-page .logo {
    text-align: center;
    margin-bottom: 20px;
}

.author-page .logo img {
    width: 170px;
}

.author-page h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.author-page .author-info {
    text-align: center;
}

.author-page .author-info img {
    width: 150px; /* Dimensione appropriata per l'immagine dell'autore */
    margin: 10px auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.author-page .author-info span {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: dimgrey;
}

