<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <div class="book-page">
        <div class="logo">
            <a href="/"><img src="/images/logo-siw.png" alt="Logo"/></a>
        </div>
        
        <div class="book-info" th:if="${book}">
            <img th:src="${book.urlImage}" alt="Book Cover"/>
            <div class="year">
                Anno: <span th:text="'('+${book.year}+')'">2000</span>
            </div>
            <div class="authors">
                <h2>Autori:</h2>
                <ul>
                    <li th:each="author : ${book.authors}" th:text="${author.name} + ' ' + ${author.surname}"></li>
                </ul>
            </div>
        </div>
        
        <div th:unless="${book}">Non esiste</div>
    </div>
</body>
</html>
