<!DOCTYPE html>
<html>

<head>
	<title>
		SiwBooks - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login"><h1>Login</h1>h1></a>
		</div>
	</header>

	<div><img src="/images/logo-siw.png" width="20%" /></div>
	<h1>Consulta l'archivio</h1>
	<div>
		<a href="/movie">Elenco Libri</a>
	</div>
	<div>
		<a href="/artist">Elenco Autori</a>
	</div>
</body>

</html>