<!DOCTYPE html>
<html>

<head>
	<title>
		SiwBooks - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login"><h1>Login</h1></a>
		</div>
	</header>

	<div><img src="/images/logo-siw.png" width="20%" /></div>
	
	<h1>Consulta Libri</h1>
	   <div class="box">
	 <div class="paragraph">
		<a href="/book"><h3>Elenco Libri</h3></a>
	</div>
	 <div class="paragraph">
		<a href="/author"><h3>Elenco Autori</h3></a>
	</div>
	</div>
</body>

</html>